    * {
        margin: 0;
        padding: 0;
    }
  
  .header-layout {
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    background-color: black;
    height: 64px;
  }

   .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    height: 64px;
    background-color:black;
    margin: 0 auto;
  }

   .header img {
    width: 130px;
    height: 48px;
  }

   .nav {
    display: flex;
    align-items: center;
  }


  .nav li {
    margin-right: 20px;
  }

   .nav li a {
    font-size: 14px;
    color: aliceblue;
    text-decoration: none;
  }

 .nav li span img {
    width: 18px;
    height: 12px;
}

.nav li a span {
  position: relative;
}

 .nav li a span::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #2ca7eb;
  transform: scale(0, 1);
}

nav>li>a:hover span::before,
nav>li>a:hover span {
    color: #2ca7eb;
    transform: scale(1, 1);
    transition: all 0.5s;
}

.nav li ul {
  position: absolute;
  list-style: none;
  height: 0px;
  width: 100px;
  top: 64px;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav li ul li {
  margin: 5px 0;
}

.nav li:hover ul {
  height: 140px;
  transition: height 1s;
}
