
.picture-layout {
    width: 100%;
    height: 585px;
}

.picture {
    position: relative;
}

.picture img {
    display: block;
    width: 100%;
    height: 100%;
}

.picture h1,p{
    position: absolute;
  left: 18%;
  right: 0;
  /* text-align: center; 文字水平居中 */
  margin: 0; /* 去除默认的margin */
  padding: 10px; /* 可以根据需要调整 */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* 文字阴影，可选 */
}

.picture h1 {
    font-size: 56px;
    font-weight: 500;
    color: rgb(255,255,255);
    top: 20%; /* 根据实际情况调整 */
  z-index: 2; /* 保证文字在图片上方 */
}

.picture p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255,255,255);
    top: 45%; /* 根据实际情况调整 */
  z-index: 2; /* 保证文字在图片上方 */
}

.links {
    position: absolute;
    bottom: 0;
    left: 14%;
    display: flex;
    justify-content: space-between;
    top: 70%;
    padding: 70px;
    z-index: 2; /* 保证链接在图片上方 */
}

.links a {
    display: block;
    border: 1px solid #fff; /* 边框样式 */
    margin-right: 40px;
    width: 120px;
    height: 36px;
    color: #fff;
    text-align: center;
    text-decoration: none;
     transition: all 0.3s ease-in-out; 
}




